### Hotel Booking demand dataset

##### Objective: Reduce booking cancellations and increase revenue.

In [4]:
import pandas as pd

In [6]:
##loading data
df=pd.read_csv(r"C:\Users\nikhi\OneDrive\Desktop\hotel_bookings.csv")

In [7]:
df.head(10)

,hotel,is_canceled,lead_time,arrival_date_year,arrival_date_month,arrival_date_week_number,arrival_date_day_of_month,stays_in_weekend_nights,stays_in_week_nights,adults,...,deposit_type,agent,company,days_in_waiting_list,customer_type,adr,required_car_parking_spaces,total_of_special_requests,reservation_status,reservation_status_date
0,Resort Hotel,0,342,2015,July,27,1,0,0,2,...,No Deposit,NaN,NaN,0,Transient,0.0,0,0,Check-Out,2015-07-01
1,Resort Hotel,0,737,2015,July,27,1,0,0,2,...,No Deposit,NaN,NaN,0,Transient,0.0,0,0,Check-Out,2015-07-01
2,Resort Hotel,0,7,2015,July,27,1,0,1,1,...,No Deposit,NaN,NaN,0,Transient,75.0,0,0,Check-Out,2015-07-02
3,Resort Hotel,0,13,2015,July,27,1,0,1,1,...,No Deposit,304.0,NaN,0,Transient,75.0,0,0,Check-Out,2015-07-02
4,Resort Hotel,0,14,2015,July,27,1,0,2,2,...,No Deposit,240.0,NaN,0,Transient,98.0,0,1,Check-Out,2015-07-03
5,Resort Hotel,0,14,2015,July,27,1,0,2,2,...,No Deposit,240.0,NaN,0,Transient,98.0,0,1,Check-Out,2015-07-03
6,Resort Hotel,0,0,2015,July,27,1,0,2,2,...,No Deposit,NaN,NaN,0,Transient,107.0,0,0,Check-Out,2015-07-03
7,Resort Hotel,0,9,2015,July,27,1,0,2,2,...,No Deposit,303.0,NaN,0,Transient,103.0,0,1,Check-Out,2015-07-03
8,Resort Hotel,1,85,2015,July,27,1,0,3,2,...,No Deposit,240.0,NaN,0,Transient,82.0,0,1,Canceled,2015-05-06
9,Resort Hotel,1,75,2015,July,27,1,0,3,2,...,No Deposit,15.0,NaN,0,Transient,105.5,0,0,Canceled,2015-04-22

In [8]:
df.shape

(119390, 32)

In [12]:
df.info()
df.describe()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 119390 entries, 0 to 119389
Data columns (total 32 columns):
 #   Column                          Non-Null Count   Dtype
---  ------                          --------------   -----
 0   hotel                           119390 non-null  object
 1   is_canceled                     119390 non-null  int64
 2   lead_time                       119390 non-null  int64
 3   arrival_date_year               119390 non-null  int64
 4   arrival_date_month              119390 non-null  object
 5   arrival_date_week_number        119390 non-null  int64
 6   arrival_date_day_of_month       119390 non-null  int64
 7   stays_in_weekend_nights         119390 non-null  int64
 8   stays_in_week_nights            119390 non-null  int64
 9   adults                          119390 non-null  int64
 10  children                        119386 non-null  float64
 11  babies                          119390 non-null  int64
 12  meal                            119390 non-null  object
 13  country                         118902 non-null  object
 14  market_segment                  119390 non-null  object
 15  distribution_channel            119390 non-null  object
 16  is_repeated_guest               119390 non-null  int64
 17  previous_cancellations          119390 non-null  int64
 18  previous_bookings_not_canceled  119390 non-null  int64
 19  reserved_room_type              119390 non-null  object
 20  assigned_room_type              119390 non-null  object
 21  booking_changes                 119390 non-null  int64
 22  deposit_type                    119390 non-null  object
 23  agent                           103050 non-null  float64
 24  company                         6797 non-null    float64
 25  days_in_waiting_list            119390 non-null  int64
 26  customer_type                   119390 non-null  object
 27  adr                             119390 non-null  float64
 28  required_car_parking_spaces     119390 non-null  int64
 29  total_of_special_requests       119390 non-null  int64
 30  reservation_status              119390 non-null  object
 31  reservation_status_date         119390 non-null  object
dtypes: float64(4), int64(16), object(12)
memory usage: 29.1+ MB

,is_canceled,lead_time,arrival_date_year,arrival_date_week_number,arrival_date_day_of_month,stays_in_weekend_nights,stays_in_week_nights,adults,children,babies,is_repeated_guest,previous_cancellations,previous_bookings_not_canceled,booking_changes,agent,company,days_in_waiting_list,adr,required_car_parking_spaces,total_of_special_requests
count,119390.000000,119390.000000,119390.000000,119390.000000,119390.000000,119390.000000,119390.000000,119390.000000,119386.000000,119390.000000,119390.000000,119390.000000,119390.000000,119390.000000,103050.000000,6797.000000,119390.000000,119390.000000,119390.000000,119390.000000
mean,0.370416,104.011416,2016.156554,27.165173,15.798241,0.927599,2.500302,1.856403,0.103890,0.007949,0.031912,0.087118,0.137097,0.221124,86.693382,189.266735,2.321149,101.831122,0.062518,0.571363
std,0.482918,106.863097,0.707476,13.605138,8.780829,0.998613,1.908286,0.579261,0.398561,0.097436,0.175767,0.844336,1.497437,0.652306,110.774548,131.655015,17.594721,50.535790,0.245291,0.792798
min,0.000000,0.000000,2015.000000,1.000000,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1.000000,6.000000,0.000000,-6.380000,0.000000,0.000000
25%,0.000000,18.000000,2016.000000,16.000000,8.000000,0.000000,1.000000,2.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,9.000000,62.000000,0.000000,69.290000,0.000000,0.000000
50%,0.000000,69.000000,2016.000000,28.000000,16.000000,1.000000,2.000000,2.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,14.000000,179.000000,0.000000,94.575000,0.000000,0.000000
75%,1.000000,160.000000,2017.000000,38.000000,23.000000,2.000000,3.000000,2.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,229.000000,270.000000,0.000000,126.000000,0.000000,1.000000
max,1.000000,737.000000,2017.000000,53.000000,31.000000,19.000000,50.000000,55.000000,10.000000,10.000000,1.000000,26.000000,72.000000,21.000000,535.000000,543.000000,391.000000,5400.000000,8.000000,5.000000

#### Changing data types & Cleaning data

In [15]:
df["children"].isnull().sum()

4

In [17]:
df['children'] = df['children'].fillna(0)
df['children']=df['children'].astype('int')
df['children'].dtype

dtype('int32')

In [19]:
df['agent'].isnull().sum() ###dropping agent column next and creating new

16340

In [21]:
df["is_agent_booking"] = df["agent"].notnull().astype(int)
df['is_agent_booking']

0         0
1         0
2         0
3         1
4         1
         ..
119385    1
119386    1
119387    1
119388    1
119389    1
Name: is_agent_booking, Length: 119390, dtype: int32

In [23]:
df.drop("agent", axis=1, inplace=True)

In [25]:
df['is_agent_booking'].dtype

dtype('int32')

In [27]:
###company
df['company'].nunique()

352

In [29]:
df['company'].isnull().sum()

112593

In [31]:
len(df)

119390

In [33]:
df["company"].value_counts().head()

company
40.0     927
223.0    784
67.0     267
45.0     250
153.0    215
Name: count, dtype: int64

In [35]:
df["company"] = df["company"].fillna(0)
df["company"] = df["company"].astype("int64")

In [37]:
df['reservation_status_date'].dtype

dtype('O')

In [39]:
df["reservation_status_date"] = pd.to_datetime(df["reservation_status_date"])

In [41]:
df['country'].dtype

dtype('O')

In [43]:
df["country"] = df["country"].fillna("Unknown")

#### Feature engineering

In [46]:
###Date
df['arrival_date']=pd.to_datetime( df["arrival_date_year"].astype(str) + "-" +
    df["arrival_date_month"] + "-" +
    df["arrival_date_day_of_month"].astype(str)
                                 )

In [48]:
df['arrival_date'].dtype

dtype('<M8[ns]')

In [50]:
df['total_guests']=df['adults']+df['children']+df['babies']
df['total_guests']

0         2
1         2
2         1
3         1
4         2
         ..
119385    2
119386    3
119387    2
119388    2
119389    2
Name: total_guests, Length: 119390, dtype: int64

In [52]:
df["total_nights"] = df["stays_in_weekend_nights"] + df["stays_in_week_nights"]
df['total_nights']

0         0
1         0
2         1
3         1
4         2
         ..
119385    7
119386    7
119387    7
119388    7
119389    9
Name: total_nights, Length: 119390, dtype: int64

In [54]:
##know if booking is  MADE BY a Family or not
df["is_family"] = ((df["children"] > 0) | (df["babies"] > 0)).astype(int)
df['is_family']

0         0
1         0
2         0
3         0
4         0
         ..
119385    0
119386    0
119387    0
119388    0
119389    0
Name: is_family, Length: 119390, dtype: int32

In [56]:
df['estimated_revenue']=df['adr']*df['total_nights']
df['estimated_revenue']

0            0.00
1            0.00
2           75.00
3           75.00
4          196.00
           ...
119385     672.98
119386    1578.01
119387    1103.97
119388     730.80
119389    1360.80
Name: estimated_revenue, Length: 119390, dtype: float64

In [58]:
df["lead_category"] = pd.cut(
    df["lead_time"],
    bins=[-1, 7, 30, 90, 365],
    labels=["Very Short", "Short", "Medium", "Long"]
)
df['lead_category']     ###Long lead bookings cancel more
                        ###Short lead bookings cancel less

0               Long
1                NaN
2         Very Short
3              Short
4              Short
             ...
119385         Short
119386          Long
119387        Medium
119388          Long
119389          Long
Name: lead_category, Length: 119390, dtype: category
Categories (4, object): ['Very Short' < 'Short' < 'Medium' < 'Long']

In [60]:
df["is_weekend_stay"] = (df["stays_in_weekend_nights"] > 0).astype(int)
df['is_weekend_stay']

0         0
1         0
2         0
3         0
4         0
         ..
119385    1
119386    1
119387    1
119388    1
119389    1
Name: is_weekend_stay, Length: 119390, dtype: int32

In [62]:
df["is_weekend_stay"] = (df["stays_in_weekend_nights"] > 0).astype(int)
df['is_weekend_stay']

0         0
1         0
2         0
3         0
4         0
         ..
119385    1
119386    1
119387    1
119388    1
119389    1
Name: is_weekend_stay, Length: 119390, dtype: int32

In [64]:
df["high_request"] = (df["total_of_special_requests"] >= 2).astype(int)
df['high_request']

0         0
1         0
2         0
3         0
4         0
         ..
119385    0
119386    1
119387    1
119388    0
119389    1
Name: high_request, Length: 119390, dtype: int32

In [66]:
###High risk guest
df["cancellation_rate_history"] = (
    df["previous_cancellations"] /
    (df["previous_cancellations"] + df["previous_bookings_not_canceled"] + 1)
)
df['cancellation_rate_history'].tail(1000)  ### 0.0 -> first time guests

118390    0.0
118391    0.0
118392    0.0
118393    0.0
118394    0.0
         ...
119385    0.0
119386    0.0
119387    0.0
119388    0.0
119389    0.0
Name: cancellation_rate_history, Length: 1000, dtype: float64

In [68]:
df['is_repeated_guest'].value_counts()

is_repeated_guest
0    115580
1      3810
Name: count, dtype: int64

In [70]:
##Seasonality
df['arrival_month']=df['arrival_date'].dt.month
df['arrival_month']

0         7
1         7
2         7
3         7
4         7
         ..
119385    8
119386    8
119387    8
119388    8
119389    8
Name: arrival_month, Length: 119390, dtype: int32

In [72]:
def get_season(month):
    if month in [12, 1, 2]:
        return "Winter"
    elif month in [3, 4, 5]:
        return "Spring"
    elif month in [6, 7, 8]:
        return "Summer"
    else:
        return "Autumn"

df["season"] = df["arrival_month"].apply(get_season)
df['season']

0         Summer
1         Summer
2         Summer
3         Summer
4         Summer
           ...
119385    Summer
119386    Summer
119387    Summer
119388    Summer
119389    Summer
Name: season, Length: 119390, dtype: object

In [74]:
##Agent vs direct booking
df["is_direct_booking"] = (df['is_agent_booking'] == 0).astype(int)
df['is_direct_booking']

0         1
1         1
2         1
3         0
4         0
         ..
119385    0
119386    0
119387    0
119388    0
119389    0
Name: is_direct_booking, Length: 119390, dtype: int32

In [76]:
##corporate booking flag
df["is_corporate"] = (df["company"] != 0).astype(int)
df['is_corporate']

0         0
1         0
2         0
3         0
4         0
         ..
119385    0
119386    0
119387    0
119388    0
119389    0
Name: is_corporate, Length: 119390, dtype: int32

In [78]:
##booking changes
df["has_booking_changes"] = (df["booking_changes"] > 0).astype(int)

In [80]:
df['has_booking_changes']

0         1
1         1
2         0
3         0
4         0
         ..
119385    0
119386    0
119387    0
119388    0
119389    0
Name: has_booking_changes, Length: 119390, dtype: int32

In [82]:
df["non_refundable"] = (df["deposit_type"] == "Non Refund").astype(int)
df['non_refundable']

0         0
1         0
2         0
3         0
4         0
         ..
119385    0
119386    0
119387    0
119388    0
119389    0
Name: non_refundable, Length: 119390, dtype: int32

In [84]:
df.head()

,hotel,is_canceled,lead_time,arrival_date_year,arrival_date_month,arrival_date_week_number,arrival_date_day_of_month,stays_in_weekend_nights,stays_in_week_nights,adults,...,lead_category,is_weekend_stay,high_request,cancellation_rate_history,arrival_month,season,is_direct_booking,is_corporate,has_booking_changes,non_refundable
0,Resort Hotel,0,342,2015,July,27,1,0,0,2,...,Long,0,0,0.0,7,Summer,1,0,1,0
1,Resort Hotel,0,737,2015,July,27,1,0,0,2,...,NaN,0,0,0.0,7,Summer,1,0,1,0
2,Resort Hotel,0,7,2015,July,27,1,0,1,1,...,Very Short,0,0,0.0,7,Summer,1,0,0,0
3,Resort Hotel,0,13,2015,July,27,1,0,1,1,...,Short,0,0,0.0,7,Summer,0,0,0,0
4,Resort Hotel,0,14,2015,July,27,1,0,2,2,...,Short,0,0,0.0,7,Summer,0,0,0,0

In [86]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 119390 entries, 0 to 119389
Data columns (total 47 columns):
 #   Column                          Non-Null Count   Dtype
---  ------                          --------------   -----
 0   hotel                           119390 non-null  object
 1   is_canceled                     119390 non-null  int64
 2   lead_time                       119390 non-null  int64
 3   arrival_date_year               119390 non-null  int64
 4   arrival_date_month              119390 non-null  object
 5   arrival_date_week_number        119390 non-null  int64
 6   arrival_date_day_of_month       119390 non-null  int64
 7   stays_in_weekend_nights         119390 non-null  int64
 8   stays_in_week_nights            119390 non-null  int64
 9   adults                          119390 non-null  int64
 10  children                        119390 non-null  int32
 11  babies                          119390 non-null  int64
 12  meal                            119390 non-null  object
 13  country                         119390 non-null  object
 14  market_segment                  119390 non-null  object
 15  distribution_channel            119390 non-null  object
 16  is_repeated_guest               119390 non-null  int64
 17  previous_cancellations          119390 non-null  int64
 18  previous_bookings_not_canceled  119390 non-null  int64
 19  reserved_room_type              119390 non-null  object
 20  assigned_room_type              119390 non-null  object
 21  booking_changes                 119390 non-null  int64
 22  deposit_type                    119390 non-null  object
 23  company                         119390 non-null  int64
 24  days_in_waiting_list            119390 non-null  int64
 25  customer_type                   119390 non-null  object
 26  adr                             119390 non-null  float64
 27  required_car_parking_spaces     119390 non-null  int64
 28  total_of_special_requests       119390 non-null  int64
 29  reservation_status              119390 non-null  object
 30  reservation_status_date         119390 non-null  datetime64[ns]
 31  is_agent_booking                119390 non-null  int32
 32  arrival_date                    119390 non-null  datetime64[ns]
 33  total_guests                    119390 non-null  int64
 34  total_nights                    119390 non-null  int64
 35  is_family                       119390 non-null  int32
 36  estimated_revenue               119390 non-null  float64
 37  lead_category                   116242 non-null  category
 38  is_weekend_stay                 119390 non-null  int32
 39  high_request                    119390 non-null  int32
 40  cancellation_rate_history       119390 non-null  float64
 41  arrival_month                   119390 non-null  int32
 42  season                          119390 non-null  object
 43  is_direct_booking               119390 non-null  int32
 44  is_corporate                    119390 non-null  int32
 45  has_booking_changes             119390 non-null  int32
 46  non_refundable                  119390 non-null  int32
dtypes: category(1), datetime64[ns](2), float64(3), int32(10), int64(19), object(12)
memory usage: 37.5+ MB

In [87]:
df["is_family"] = (
    (df["children"] > 0) | (df["babies"] > 0)
).astype(int)

In [90]:
df['is_family'].dtype

dtype('int32')

### EDA
##### We will do it in 3 stages:

###### 1ï¸) Understand overall cancellation
###### 2ï¸) Find what drives cancellation
###### 3ï¸) Find what drives revenue

In [93]:
df['is_canceled'].mean()   ##37 bookings were cancelled

0.37041628277075134

In [95]:
df.groupby('lead_category')['is_canceled'].mean().sort_values(ascending=False)

C:\Users\nikhi\AppData\Local\Temp\ipykernel_11456\2499773373.py:1: FutureWarning: The default of observed=False is deprecated and will be changed to True in a future version of pandas. Pass observed=False to retain current behavior or observed=True to adopt the future default and silence this warning.
  df.groupby('lead_category')['is_canceled'].mean().sort_values(ascending=False)

lead_category
Long          0.495342
Medium        0.376984
Short         0.278639
Very Short    0.096323
Name: is_canceled, dtype: float64

###### Result: long bookings cancelled more

In [101]:
df.groupby('deposit_type')['is_canceled'].mean()

deposit_type
No Deposit    0.283770
Non Refund    0.993624
Refundable    0.222222
Name: is_canceled, dtype: float64

In [103]:
df["deposit_type"].value_counts()

deposit_type
No Deposit    104641
Non Refund     14587
Refundable       162
Name: count, dtype: int64

In [105]:
pd.crosstab(df["deposit_type"], df["is_canceled"], normalize="index")

is_canceled          0         1
deposit_type
No Deposit    0.716230  0.283770
Non Refund    0.006376  0.993624
Refundable    0.777778  0.222222

##### Deposit type shows a strong relationship with cancellation. However, the unusually high cancellation rate for "Non Refund" bookings suggests that this variable may be influenced by booking status changes. Hence, it may not represent a true causal factor for cancellations.

In [108]:
df.groupby("market_segment")["is_canceled"].mean().sort_values(ascending=False)

market_segment
Undefined        1.000000
Groups           0.610620
Online TA        0.367211
Offline TA/TO    0.343160
Aviation         0.219409
Corporate        0.187347
Direct           0.153419
Complementary    0.130552
Name: is_canceled, dtype: float64

In [110]:
df.groupby("high_request")["is_canceled"].mean()

high_request
0    0.39475
1    0.21141
Name: is_canceled, dtype: float64

In [112]:
## Repeated guests VS Cancellation
df.groupby("is_repeated_guest")["is_canceled"].mean()

is_repeated_guest
0    0.377851
1    0.144882
Name: is_canceled, dtype: float64

##### Repeated guests cancel less compared to the new coming
t64

In [119]:
### Season VS Cancellation
df.groupby('season')['is_canceled'].mean()

season
Autumn    0.368351
Spring    0.377976
Summer    0.387331
Winter    0.330847
Name: is_canceled, dtype: float64

#### Revenue Analysis

In [124]:
## Market segment VS revenue
df.groupby("market_segment")["estimated_revenue"].mean().sort_values(ascending=False)

market_segment
Online TA        423.925625
Direct           404.016214
Aviation         368.971983
Offline TA/TO    336.591632
Groups           235.709290
Corporate        146.231399
Undefined         24.000000
Complementary      6.840538
Name: estimated_revenue, dtype: float64

In [126]:
df.groupby("season")["adr"].mean()

season
Autumn     90.868100
Spring     97.475909
Summer    128.768785
Winter     75.108733
Name: adr, dtype: float64

In [130]:
### revenue by stay length
df.groupby("lead_category")["estimated_revenue"].mean()

C:\Users\nikhi\AppData\Local\Temp\ipykernel_11456\3221979589.py:2: FutureWarning: The default of observed=False is deprecated and will be changed to True in a future version of pandas. Pass observed=False to retain current behavior or observed=True to adopt the future default and silence this warning.
  df.groupby("lead_category")["estimated_revenue"].mean()

lead_category
Very Short    189.551438
Short         336.779475
Medium        383.553905
Long          429.659158
Name: estimated_revenue, dtype: float64

##### Long stays = high revenue

In [134]:
### Family VS Revenue
df.groupby("is_family")["estimated_revenue"].mean()

is_family
0    335.627961
1    619.905210
Name: estimated_revenue, dtype: float64

###### FAMILY BOOKINGS BRING ALMOST DOUBLE REVENUE

In [136]:
df.groupby("lead_category")[["is_canceled", "estimated_revenue"]].mean()

C:\Users\nikhi\AppData\Local\Temp\ipykernel_11456\1495478766.py:1: FutureWarning: The default of observed=False is deprecated and will be changed to True in a future version of pandas. Pass observed=False to retain current behavior or observed=True to adopt the future default and silence this warning.
  df.groupby("lead_category")[["is_canceled", "estimated_revenue"]].mean()

               is_canceled  estimated_revenue
lead_category
Very Short        0.096323         189.551438
Short             0.278639         336.779475
Medium            0.376984         383.553905
Long              0.495342         429.659158

#### If long-lead bookings cancel more:

##### Ask partial deposit
##### Make deposit non-refundable after certain days.
##### Offer credit voucher.

#### REVENUE LOST DURING CANCELLATIONS:

In [142]:
df["lost_revenue"] = df["adr"] * df["total_nights"] * df["is_canceled"]

In [144]:
df["lost_revenue"].sum()

16727237.120000001

In [147]:
df.groupby("market_segment")["lost_revenue"].sum().sort_values(ascending=False)

market_segment
Online TA        10227646.11
Groups            2800543.98
Offline TA/TO     2492358.15
Direct             993409.82
Corporate          196383.07
Aviation            16578.00
Complementary         269.99
Undefined              48.00
Name: lost_revenue, dtype: float64

######

#### KEY FINDINGS:

###### Cancellation rate is high and impacts revenue.

###### Long lead-time bookings cancel more frequently.

###### Customers with previous cancellations are high-risk.

###### O TA bookings contribute heavily to cancellations.

###### High ADR bookings cause higher revenue loss when canceled.

#### TOP RISK SEGMENTS:

###### Long lead-time bookings

###### Online Travel Agent bookings

###### High ADR reservations

###### Customers with past cancellations

#### SOLUTIONS:

###### Introduce partial deposit for high-risk bookings.

###### Send confirmation reminders to repeat cancellers.

###### Review OTA cancellation policies.